@font-face {
  font-family: 'Shrikhand';
  src: url('/app/assets/font/Shrikhand/Shrikhand-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/app/assets/font/Open_Sans/OpenSans-Bold.ttf'),
    url('/app/assets/font/Open_Sans/OpenSans-BoldItalic.ttf'),
    url('/app/assets/font/Open_Sans/OpenSans-ExtraBold.ttf'),
    url('/app/assets/font/Open_Sans/OpenSans-ExtraBoldItalic.ttf'),
    url('/app/assets/font/Open_Sans/OpenSans-Italic.ttf'),
    url('/app/assets/font/Open_Sans/OpenSans-Light.ttf'),
    url('/app/assets/font/Open_Sans/OpenSans-LightItalic.ttf'),
    url('/app/assets/font/Open_Sans/OpenSans-Regular.ttf'),
    url('/app/assets/font/Open_Sans/OpenSans-Semibold.ttf'),
    url('/app/assets/font/Open_Sans/OpenSans-SemiboldItalic.ttf');
}
