input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

td {
  border-bottom: 0;
}

button, .button {
  margin: inherit;
}
