// GLOBAL DEFINITIONS
// MUST BE PLACED FIRST
@import '_colors.scss';
@import '_fonts.scss';
@import '_keyframes.scss';

@import '~App/styles/skeleton/normalize.css';
@import '~App/styles/skeleton/skeleton.css';
@import '~App/styles/_global.scss';

// Actual Stylings
@import '_headings.scss';

.main-content {
  animation: fadein 1s;
  background-color: $darkest-grey;
  color: $lightest-grey;
  font-family: 'Open Sans';
  margin: 0 15px 0 15px;
  margin: 0;
  padding: 0 15px;

}

.entry {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

