@import "~App/styles/_colors.scss";

.goalAttribute {
  display: flex;
  justify-content: center;

  p {
    margin: 0;
  }
}

.cell {
  height: 1em;
  margin: 0 10px;
  min-width: 6em;
  padding: inherit;
  text-align: right;

  .editable {
    border: 1px solid transparent;
    border-radius: 0 2px 2px 0;
    color: $black;
    height: inherit;
    margin-bottom: 0;
    padding: .3em;
    text-align: left;
    width: calc(75% - 1em);
  }

  .lock {
    // content: url('/app/assets/svg/unlocked.svg');
    cursor: pointer;
    padding-right: 0.25em;
  }
}
