@mixin gradient-for-square($color) {
  background: radial-gradient(lighten(transparentize($color, 1), 10), $color)
}

.availableCash {
  border: 4px solid white;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  padding: 15px;

  &.veryLow {
    @include gradient-for-square(#0C2662)
  }
  &.onTrack {
    @include gradient-for-square(#5CD6A2)
  }
  &.tight {
    @include gradient-for-square(#F4F463)
  }
  &.over {
    @include gradient-for-square(#920303)
  }

  input {
    // border: 1px solid transparent;
    border-radius: 2px;
    margin: auto;
    padding: 2px 5px;
  }
}
