.goalRow {
  border-radius: 5px;
  
  &.veryLow {
    background: linear-gradient(90deg, #5CD6A2, #BFF4DD);
    background-attachment: fixed;
  }

  &.onTrack {
    background: linear-gradient(90deg, #5CD6A2, #BFF4DD);
    background-attachment: fixed;
  }

  &.tight {
    background: linear-gradient(90deg, #F4F463, #BFF4DD);
    background-attachment: fixed;
  }

  &.over {
    background: linear-gradient(90deg, #920303, #BFF4DD);
    background-attachment: fixed;
  }

  .move {
    display: flex;
    justify-content: space-between;
  }

  .cell {
    // height: 1em;
    line-height: 1em;
    padding-right: 1em;
  }
}
