$lightest-grey: #f6f6f6;
$light-grey: #ddd;
$med-grey: #AAA;
$darker-grey: #585858;
$darkest-grey: #2e2e2e;
$white: #fffff8;
$black: #111111;

$green: #17AB00;
$yellow: #FFFB3D;
$red: #FA0012;
$blue: #042768;
